body{
  margin:auto;
}
.container{
  align-content: center;
  margin-top:10px;
  margin-left:10px;
  height:90vh;
  width:95vw;
  background-color: blue;
  display:flex;
  flex-wrap:wrap;
  border-radius: 20px;
}